{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>Create a Listing</h2>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" placeholder="enter title" name="title">
        </div>
        <div class="form-group">
            <label for="describtion">Describtion:</label>
            <input type="text" class="form-control" placeholder="enter Describtion" name="describtion">
        </div>
        <div class="form-group">
            <label for="img_url">Image url:</label>
            <input type="text" class="form-control" placeholder="enter image url" name="img_url">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" min="0" step="0.1" class="form-control" placeholder="enter price" name="price">
        </div>
        <div class="form-group">
            <label for="catagory">Choose a catagory:</label>
            <select name="catagory" id="catagory" class="form-control">
                {% for cat in cats %}
                    <option value="{{ cat }}">{{ cat }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>

{% endblock %}