{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <div class="row mx-3">
        {% for l in listings %}
            <div class="card" style="width: 18rem; margin: 10px;">
                <img class="card-img-top" src="{{l.img_url}}" alt="{{ l.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ l.title }}</h5>
                    <p class="card-text">{{ l.describtion }}</p>
                    <a href="{% url 'listing' id=l.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}